body {
  background-color: #e7ebf1;
}

body .notifyjs-wrapper {
  z-index: 9999 !important;
}

.sidebar .nav li>a,
.off-canvas-sidebar .nav li>a {
  background-color: #fff;
}

.navbar.navbar-transparent {
  background-color: rgba(255, 255, 255, 0.53);
}

.navbar {
  padding: 0;
}

.searchbar {
  padding: 0 15px;
}

.searchbar form {
  display: flex;
  vertical-align: middle;
  align-items: center;
}

.nav>li.searchbar {
  display: none;
}

.searchbar input {
  padding: 6px;
  height: 38px;
  background: transparent;
  border-color: #003d4e;
}

.searchbar .btn.btn-sm.btn-primary {
  padding: 6px 10px;
  margin-left: -8px;
  height: 38px;
  border-radius: 0 10px 10px 0;
}

.btn.toolbar-btn,
.toolbar .btn-group .btn.btn-default {
  background-color: transparent;
  color: #003d4e !important;
  box-shadow: none;
  padding: 12px;
}

.btn.toolbar-btn {
  padding: 10px 15px 14px;
}

.toolbar .btn-toolbar>.btn-group {
  margin: 0;
}

.kv-panel-before {
  padding: 0 10px;
}

.toolbar .btn-group.open>.dropdown-toggle.btn.btn-info,
.toolbar .open>.btn.dropdown-toggle:hover,
.toolbar .btn.btn-default,
.btn.btn-default:hover,
.toolbar .btn-group.open>.dropdown-toggle.btn,
.btn-group.open>.dropdown-toggle.btn.btn-default,
.toolbar .open>.btn.btn-default.dropdown-toggle,
.toolbar .open>.btn.btn-default.dropdown-toggle:focus,
.toolbar .open>.btn.btn-default.dropdown-toggle:hover {
  background-color: transparent;
  border-radius: 0;
  color: #e4a40f !important;
}

.toolbar .dropdown-menu li a:hover,
.toolbar .dropdown-menu li a:focus,
.toolbar .dropdown-menu li a:active {
  background-color: transparent;
  box-shadow: none;
  color: #e4a40f;
  text-decoration: underline;
}

.toolbar .btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
  border-radius: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
p {
  font-family: "Nunito";
}

@media (min-width: 1200px) {
  #w8>.container {
    width: 100% !important;
  }
}

li>form {
  padding: 5px 0 0 0;
}

.site-index {
  margin-top: 25px;
}

.block {
  display: block;
}

.btn,
.navbar .navbar-nav>li>a.btn {
  border-radius: 8px;
}

.btn {
  word-break: break-word;
  white-space: break-spaces;
}

.btn.no-break {
  word-break: unset;
  white-space: inherit;
}

.has-success.highlight-addon .input-group-addon {
  background-color: none;
}

/* VIEW/UPDATE/DOWNLOAD */
a.block {
  height: 30px;
}

/* .hgreen {
  color: #003d4e;
}
.hblue {
  color: #e4a40f;
}
.hpurple {
  color: #9dbacc;
} */
.hpurple:hover,
.hblue:hover,
.hgreen:hover {
  color: #0c0a3e;
}

/* TABLE */
.table-bordered {
  border: none;
}

.table>tbody>tr.info>td {
  background-color: #fff;
  text-align: left;
}

.table-striped>tbody>tr:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.12);
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.483),
    0px 0px 5px rgba(136, 136, 136, 0);
  overflow-x: hidden;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.24);
  box-shadow: inset 0px 0px 10px rgba(126, 126, 126, 0.136),
    0px 0px 5px rgba(136, 136, 136, 0);
}

/*
.notifikacije-index .mob {
  font-size:14px;
}
.notifikacije-index .mob .subject{
  font-size:16px;
}
.notifikacije-index .read{
  font-weight: bold;
  color: #003d4e;
}
.notifikacije-index .card .mob .table tr td:last-of-type{
  text-align:left
}
.notifikacije-index .card .mob .table tr td.time{
  text-align:right
} */
.notifikacije-index .read {
  font-weight: bold;
  color: #003d4e;
}

.mob-noshow {
  display: block;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
  border: none;
}

.table.text-center td,
.table.text-center thead th {
  text-align: center;
}

input,
textarea {
  border-color: #9dbacc;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

/* PANEL */
.panel-body {
  padding: 0;
}

.panel-success:nth-of-type(4n-1)>.panel-heading {
  color: #fff;
  background: linear-gradient(60deg, #095367, #003d4e);
  border-color: #003d4e;
}

.panel-success:nth-of-type(4n + 1)>.panel-heading {
  color: #fff;
  background: linear-gradient(60deg, #f0ba3c, #e4a40f);
  border-color: #e4a40f;
}

.panel-success:nth-of-type(4n + 2)>.panel-heading {
  color: #003d4e;
  background: linear-gradient(60deg, #cadbe6, #9dbacc);
  border-color: #9dbacc;
}

.zahtjev-obiljezi-predane-obavezne-dokumente h2,
.zahtjev-boduj h2 {
  padding: 12px;
}

.panel-success:nth-of-type(4n)>.panel-heading {
  color: #fff;
  background: linear-gradient(60deg, #095367, #003d4e);
  border-color: #003d4e;
}

.panel-footer {
  background-color: white;
}

/* TABS */
.nav-tabs {
  padding: 0;
  background-color: inherit;
}

.nav-tabs li {
  background-color: #003d4e;
  margin-right: 10px;
  border-radius: 8px 8px 0 0;
}

.nav-tabs li>a {
  padding-top: 11px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background-color: #fff;
  color: #003d4e !important;
  border-radius: 8px 8px 0 0;
  transition: all.1s 0.2s;
  padding-top: 11px;
}

.panel-default>.panel-heading {
  border-color: transparent;
}

.nav-tabs>li.active {
  background-color: white;
  border: 1px solid #003d4e !important;
  border-bottom-width: 0px !important;
}

.nav-tabs>.open>a:focus {
  color: #003d4e !important;
  background-color: white;
}

.nav-tabs .dropdown-menu>li>a,
.nav-tabs .dropdown-menu>li {
  background-color: white;
  color: #003d4e;
}

.tab-content>.active,
.tab-content {
  background-color: #fff !important;
  padding: 10px;
}

.tab-content {
  background-color: #fff !important;
  border-top: 1px solid#003d4e;
}

.tab-pane {
  padding-top: 20px;
}

.col-sm-12>.btn {
  margin-left: 15px;
}

/* CHECKBOX */
/* Hide the browser's default checkbox */

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

@media (max-width: 786px) {
  input[type="checkbox"]:checked:after {
    top: 0;
  }

  .mob-noshow {
    display: none;
  }

  .notifikacije-index thead {
    display: none;
  }

  .notifikacije-index .kv-table-wrap tr>td:first-child {
    font-size: 14px !important;
  }

  .notifikacije-index .table-striped>tbody>tr:nth-of-type(odd),
  .notifikacije-index tbody tr td:nth-of-type(1),
  .notifikacije-index .table-striped>tbody>tr:nth-of-type(even),
  .notifikacije-index tbody tr:nth-of-type(odd) td:nth-of-type(1),
  .notifikacije-index tbody tr:nth-of-type(odd) td:nth-of-type(2) {
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
  }

  .notifikacije-index .table-striped>tbody>tr[data-key]:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.24) !important;
    box-shadow: inset 0px 0px 10px rgba(126, 126, 126, 0.136),
      0px 0px 5px rgba(136, 136, 136, 0) !important;
  }

  .notifikacije-index .table-striped>tbody>tr[data-key]:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.12) !important;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.483),
      0px 0px 5px rgba(136, 136, 136, 0) !important;
    overflow-x: hidden;
  }

  .notifikacije-index .table>thead>.filters>td:nth-of-type(1),
  .notifikacije-index .filters td:nth-of-type(1),
  .notifikacije-index thead tr th:nth-of-type(1),
  .notifikacije-index tbody tr td:nth-of-type(1),
  .notifikacije-index .table>thead>.filters>td:nth-of-type(2),
  .notifikacije-index .filters td:nth-of-type(2),
  .notifikacije-index thead tr th:nth-of-type(2),
  .notifikacije-index tbody tr td:nth-of-type(2) {
    min-width: unset;
    max-width: unset;
    width: unset;
  }

  .notifikacije-index .card .table tbody tr td:last-of-type {
    text-align: center;
  }

  .notifikacije-index .kv-table-wrap tr>td:first-child {
    border: none;
  }

  .kv-table-wrap tr>td:first-child {
    margin-top: 0;
  }

  .notifikacije-index .table {
    border-radius: 4px;
  }

  .notifikacije-index .table-responsive {
    border: none;
  }

  .table-responsive>.table-bordered *,
  .kv-table-wrap tr>td:first-child {
    border: none;
    border-color: transparent;
  }
}

.notifikacije-index table tr:hover {
  cursor: pointer;
  color: #003d4e;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #003d4e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.zapis-form .override-material .checkbox {
  display: inline;
  margin-left: 10px;
}

.checkbox input[type="checkbox"] {
  z-index: 5;
}

.zapis-form .override-material .checkbox input[type="checkbox"] {
  opacity: 1;
  width: 20px;
  height: 20px;
  pointer-events: unset;
}

.dropdown-menu>li>button {
  width: 100%;
  background-color: white;
  border: none;
  padding: 5px 0;
}

.open>.btn.btn-default.dropdown-toggle,
.open>.btn.btn-default.dropdown-toggle,
.open>.btn.btn-default.dropdown-toggle:focus,
.open>.btn.btn-default.dropdown-toggle:hover {
  color: #999;
}

.dijete-view .table-bordered>tbody>tr>th {
  width: 50%;
}

.table-bordered>tbody>tr>th {
  background-color: unset;
}

@media (min-width: 786px) {
  .navbar-right {
    padding-right: 15px;
  }

  #w0.grid-view,
  #w1.grid-view,
  #w5.grid-view,
  #w9.grid-view,
  #w13.grid-view,
  #w17.grid-view,
  #w0.table,
  #w4.grid-view,
  .card-body>table,
  #jelovnik-form,
  .koolphp-table>table {
    width: calc(100% + 40px);
    margin: 0 -20px;
    max-width: calc(100% + 40px);
  }

  .card-body>.table tr td:first-of-type,
  .card-body>.table tr th:first-of-type {
    padding-left: 30px;
  }

  .dropdown-menu .table tr td:first-of-type {
    padding-left: 0;
  }

  .kv-grid-table tr td:last-of-type,
  .kv-grid-table tr th:last-of-type {
    padding-right: 30px;
    text-align: center;
  }

  #w5 .panel-default {
    border-color: transparent !important;
  }
}

form#w0,
button#w0,
form#w1,
button#w1,
input#w5,
#p0>#w0 {
  width: 100%;
  margin: 0;
}

#p0>#w0 {
  background-color: white;
}

.nav-tabs+div {
  padding-top: 0 !important;
}

.grid-view .pagination {
  margin-left: 20px;
}

.summary {
  padding-left: 8px;
}

.btn,
.navbar .navbar-nav>li>a.btn {
  padding: 12px 40px;
}

.posalji-potvrdu button {
  width: 100%;
  max-width: 182px;
  background: white;
  border: 1px solid #9dbacc;
  border-radius: 4px;
  background-color: #9dbacc;
  color: white;
}

textarea[name="napomena"] {
  margin-top: 7px;
}

td>table {
  margin: auto;
  border-radius: 6px;
  box-shadow: 0px 0px 2px #9dbacc;
}

#rjesenjeform-datumupisadjeteta-kvdate,
#odlukaform-datumupisadjeteta-kvdate {
  padding-right: 20px;
}

#form3-34>td>form {
  margin: 0 52px;
}

.wrapper {
  max-height: 100vh;
}

.sidebar {
  background-color: white;
  height: 100vh;
}

.sidebar::before {
  background-color: white;
}

.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper {
  height: calc(100vh - 83px);
  background-color: white;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #003d4e;
  opacity: 0.8;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #003d4e;
  opacity: 1;
}

.pagination>li>a,
.pagination>li>span {
  color: #003d4e;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: #003d4e;
  border-color: #003d4e;
}

.table>thead>.filters>td,
.filters td {
  padding: 0 8px;
}

.table>thead>.filters>td>.form-group {
  margin: 0;
}

.main-panel>.content {
  padding: 10px 15px 0;
  margin-top: 50px !important;
  /* background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../back_yellow3.png); */
  background-size: 100% auto;
  background-position: center top;
  background-repeat: repeat-y;
}

.footer {
  margin-bottom: 20px;
}

.footer>.content {
  padding: 0 30px;
}

h1,
.h1 {
  font-size: 3em;
}

#jelovnik-form>table>tbody>tr>td:nth-of-type(1) {
  padding-top: 25px;
}

#jelovnik-form>.table-striped>tbody>tr:nth-of-type(even),
#jelovnik-form>.table-striped>tbody>tr:nth-of-type(odd) {
  background: transparent;
}

.card {
  background: #fff;
  position: relative;
  border-radius: 3px;
}

.card:before {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px) saturate(90%) contrast(50%) brightness(140%);
  border-radius: 3px;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
}

.card>* {
  position: relative;
  z-index: 5;
}

.card.front .card-content {
  z-index: 9 !important;
}

.card .card-header.card-chart {
  min-height: auto;
}

.card .card-header {
  z-index: 6;
}

.card .title {
  margin-top: 0;
  margin-bottom: 0;
}

.card .card-footer.no-border {
  border-top: 1px solid transparent;
}

.ct-chart {
  padding: 10px;
}

#dailySalesChart,
#emailsSubscriptionChart {
  padding: 12.5% 25px;
}

.sidebar .nav>li>a,
.sidebar .logo {
  padding: 5px 10px !important;
}

.navbar>.container-fluid .navbar-brand {
  font-size: 12px;
  text-transform: uppercase;
}

.sidebar .logo:after,
.off-canvas-sidebar .logo:after {
  display: none;
}

.logo {
  width: 80%;
  margin: auto;
}

.sidebar .nav {
  margin-top: 0;
}

.nav .form-group {
  margin-top: 0 !important;
}

.form-group .send-form {
  margin: 0 auto !important;
  font-size: 14px;
}

.submit {
  text-align: right !important;
}

.sidebar {
  box-shadow: none !important;
}

form.unesi-mjerenje input {
  margin: 0 7px;
}

.dijete-zapis-index form.unesi-mjerenje input {
  margin: 0 auto;
}

.dijete-zapis-index form.unesi-mjerenje {
  display: flex;
  align-content: unset;
}

ul#w1.dropdown-menu {
  column-count: 3;
  column-rule: 1px solid #003d4e;
}

.calendar ul#w1.dropdown-menu {
  column-count: 1;
}

.navbar-nav.navbar-right.nav#w1 {
  column-count: unset;
  column-rule: none;
}

.sidebar[data-color="purple"] .nav li {
  border: 2px solid transparent;
  border-width: 0 0 0 4px;
  border-radius: 0;
}

.sidebar[data-color="purple"] .nav li.active>a,
.off-canvas-sidebar[data-color="purple"] .nav li.active>a {
  background-color: #003d4e;
  box-shadow: 0 8px 6px -5px rgb(39 119 176 / 28%),
    0 4px 20px 0px rgb(0 0 0 / 12%), 0 2px 6px -5px rgb(39 119 176 / 20%);
  color: #fff;
  border-radius: 3px;
}

.sidebar[data-color="purple"] .nav li.active>a i,
.off-canvas-sidebar[data-color="purple"] .nav li.active>a i {
  color: #fff;
}

.sidebar[data-color="purple"] .nav li.active>.tree-toggle,
.off-canvas-sidebar[data-color="purple"] .nav li.active>.tree-toggle {
  background-color: white;
  border: 2px solid #003d4e;
  border-width: 0 0 0 4px;
  border-radius: 0;
  box-shadow: none;
  color: #003d4e;
}

.sidebar[data-color="purple"] .nav li .tree-toggle a,
.off-canvas-sidebar[data-color="purple"] .nav li .tree-toggle a {
  background-color: #003d4e;
  box-shadow: 0 8px 6px -5px rgb(39 119 176 / 28%),
    0 4px 20px 0px rgb(0 0 0 / 12%), 0 2px 6px -5px rgb(39 119 176 / 20%);
  color: #fff;
  border-radius: 3px;
}

.sidebar[data-color="purple"] .nav li.active>.tree-toggle i,
.off-canvas-sidebar[data-color="purple"] .nav li.active>.tree-toggle i {
  color: #003d4e;
}

a {
  color: #003d4e;
}

a:hover,
a:focus {
  color: #135d71;
  text-decoration: none;
}

.card [data-background-color="green"] {
  background: linear-gradient(60deg, #cadbe6, #9dbacc);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(87 132 177 / 40%);
  color: #003d4e;
}

.card [data-background-color="green"] .title {
  color: #003d4e;
}

.ct-chart,
.card [data-background-color="green"] .ct-chart .title,
.card .card-header .ct-label {
  color: #003d4e !important;
}

.ct-chart,
.card [data-background-color="green"] .card .card-footer .card .card-header [data-background-color="green"] .ct-series-a path.ct-line,
.card .card-header .ct-series-a .ct-point {
  stroke: #003d4e !important;
}

.ct-series-b .ct-slice-donut {
  stroke: rgba(255, 255, 255, 0.6) !important;
  stroke-width: 30px !important;
}

.card .card-header .ct-series-a .ct-slice-donut {
  stroke: #003d4e !important;
  transition: all 0.2s linear;
}

.card .card-header .ct-series-a .ct-slice-donut:hover {
  stroke: #003d4ee0 !important;
  transform: scale(1.1) translate(-4%, -4%);
}

.card .card-header .donut-chart-zaposlenici .ct-series-a .ct-slice-donut:hover {
  stroke: #e4a40fe0 !important;
  transform: scale(1.1) translate(-4%, -4%);
}

.card .card-header .ct-series-b .ct-slice-donut {
  stroke: white;
}

.card .card-header .donut-chart-zaposlenici .ct-series-a .ct-slice-donut {
  stroke: #e4a40f !important;
  transition: all 0.2s linear;
}

.tooltip {
  position: relative;
  float: right;
}

.tooltip.bottom {
  margin-top: 25px;
}

.tooltip>.tooltip-inner {
  background: linear-gradient(60deg, #cadbe6, #9dbacc);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(87 132 177 / 40%);
  padding: 5px 15px;
  color: #003d4e;
  font-weight: bold;
  font-family: "Nunito";
  font-size: 16px;
}

.popOver+.tooltip>.tooltip-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #cadbe6;
}

.card .card-footer .barWrapper,
.card .card-footer .progress {
  display: block;
}

.progress {
  border-radius: 6px;
  overflow: visible;
  margin-bottom: 0px;
  background: linear-gradient(60deg, #cadbe6, #9dbacc);
}

.progress-bar {
  background: linear-gradient(60deg, #095367, #003d4e);
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
  border-radius: 6px;
}

.card-header[data-background-color="orange"]+.card-content .progress {
  background: linear-gradient(60deg, #f0ba3c54, #e4a40f54);
}

.card-header[data-background-color="orange"]+.card-content .progress-bar {
  background: linear-gradient(60deg, #f0ba3c, #e4a40f);
  box-shadow: inset 0 -1px 0 rgba(108, 108, 108, 0.15);
}

.card .card-header .donut-chart .ct-label {
  fill: #fff !important;
}

.card .card-header .donut-chart-zaposlenici .ct-label {
  fill: #fff !important;
}

.card .card-header .donut-chart-zahtjevi .ct-label {
  fill: #9dbacc !important;
}

.card [data-background-color="blue"],
.card [data-background-color="purple"] {
  background: linear-gradient(60deg, #095367, #003d4e);
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.card [data-background-color="orange"] {
  background: linear-gradient(60deg, #f0ba3c, #e4a40f);
  box-shadow: 0 12px 20px -10px #e4a40f2d, 0 4px 20px 0px rgb(0 0 0 / 12%),
    0 7px 8px -5px #e4a40f45;
}

.btn.btn-primary,
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: #003d4e;
  box-shadow: none;
}

.btn.btn-danger,
.btn.btn-danger:hover {
  background: linear-gradient(60deg, #eb595e, #d80e15);
  box-shadow: none;
}

.btn.btn-danger:hover {
  box-shadow: 0 14px 26px -12px rgb(244 67 54 / 42%),
    0 4px 23px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(244 67 54 / 20%);
}

.form-group.is-focused .form-control {
  background-image: linear-gradient(60deg, #095367, #003d4e);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:active:focus,
.btn:hover,
.btn:active,
.btn:focus,
.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a:focus,
.navbar .dropdown-menu li a:active,
.navbar.navbar-default .dropdown-menu li a:hover,
.navbar.navbar-default .dropdown-menu li a:focus,
.navbar.navbar-default .dropdown-menu li a:active {
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
  background-color: #10596e;
}

.dnevnik-zapis-create .btn.btn-info {
  background: linear-gradient(60deg, #cadbe6, #9dbacc);
  box-shadow: none;
  color: #095367 !important;
}

.dnevnik-zapis-create .btn.btn-info:hover,
.dnevnik-zapis-create .btn.btn-info:active,
.dnevnik-zapis-create .btn.btn-info:focus,
.dnevnik-zapis-create .btn.btn-info:active:focus,
.btn.btn-default:hover {
  background: linear-gradient(60deg, #cadbe6, #9dbacc);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(87 132 177 / 40%);
  color: #095367 !important;
}

.btn-group.open>.dropdown-toggle.btn.btn-success,
.btn-group-vertical.open>.dropdown-toggle.btn.btn-success {
  background-color: #10596e;
}

.btn.btn-primary.btn-file {
  word-break: unset;
  white-space: unset;
}

.notifikacije-form .form-group {
  margin: 0px 0 0 0;
}

.notifikacije-form .form-group.field-notifikacije-user-user {
  margin: 0;
}

.form-group.field-notifikacije-sender_id.required {
  display: none;
}

.breadcrumb {
  display: none;
}

.nav-pills:not(.nav-pills-icons)>li>a {
  border-radius: 10px !important;
}

.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: #003d4e;
  box-shadow: none;
}

h1 {
  font-size: 2em;
  display: inline;
}

span.card-title {
  display: inline-block;
  color: white;
  padding-right: 40px;
  line-height: 1;
  font-size: 36px;
  vertical-align: middle;
}

.card .card-body {
  padding: 0.9375rem 20px 0 20px;
}

.card [data-background-color="blue"] .ct-chart,
.card .card-header.blue .ct-label,
.card .ct-chart.blue .title {
  color: white !important;
}

.card [data-background-color="blue"] .card-header.blue .ct-series-a .ct-line,
.card [data-background-color="blue"] .ct-series-a .ct-point {
  stroke: white !important;
}

.card .card-header.card-header-danger {
  background: linear-gradient(60deg, #f0ba3c, #e4a40f);
  box-shadow: 0 12px 20px -10px #e4a40f2d, 0 4px 20px 0px rgb(0 0 0 / 12%),
    0 7px 8px -5px #e4a40f45;
}

.alert.alert-info {
  color: #003d4e;
}

.card .card-header.card-header-primary,
.alert.alert-info {
  background: linear-gradient(60deg, #cadbe6, #9dbacc);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgba(87, 132, 177, 0.4);
}

.card-header.card-header-primary .card-title {
  color: #003d4e;
}

#accordion {
  padding-bottom: 25px;
}

.btn-round {
  padding: 8px 9px;
}

.new-message span.btn.btn-default.btn-round:hover {
  border-radius: 50%;
  background-color: #e4a40f;
}

.new-message {
  font-size: 1.25em;
}

.new-message .material-icons {
  font-size: 1em;
  margin-bottom: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-14 .material-icons {
  font-size: 16px;
  margin-top: -2px;
}

.card-collapse {
  border: 1px solid rgb(0 61 78 / 0%);
  border-radius: 4px;
  margin-top: 10px;
  background-color: white;
  box-shadow: inset 0px 0px 10px rgb(0 61 78 / 14%),
    0px 0px 5px rgb(0 61 78 / 0%);
}

.card-collapse .card-header {
  padding: 9px 10px;
  width: 100%;
  margin: 0;
  margin-top: 0px;
  border-radius: 4px;
  background-color: white;
  box-shadow: inset 0px 0px 10px rgb(0 61 78 / 14%),
    0px 0px 5px rgb(0 61 78 / 0%);
}

.card-collapse .card-header a {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-collapse .card-body {
  padding-top: 10px;
  padding-left: 10px;
}

.card-collapse ul {
  padding: 0;
  margin-bottom: 0;
}

.card-collapse ul li {
  list-style: none;
  padding: 0 0 10px 0;
  font-size: 16px;
}

.card-collapse ul li a:hover,
.card-collapse ul li a:focus,
.card-collapse ul li a.active,
.card-collapse ul li.active a {
  color: #e4a40f;
}

.card-collapse ul li a .material-icons {
  vertical-align: middle;
  font-size: 1em;
}

.wide {
  width: 100%;
}

#collapseTwo .card-body ul li .teal {
  color: #47b3d1;
}

#collapseTwo .card-body ul li .yellow {
  color: #f0ba3c;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.card-header.card-header-primary+.btn-group {
  margin-left: 15px;
}

.btn-group+hr {
  display: none;
}

.summary {
  margin-top: 10px;
}

.btn.btn-success {
  background: linear-gradient(60deg, #095367, #003d4e);
}

.btn.btn-success:hover,
.btn.btn-info:hover {
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
  background-color: #003d4e;
}

.btn.btn-info {
  background-color: #003d4e;
  box-shadow: none;
}

.small-padd {
  padding-left: 10px;
  padding-right: 10px;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn:active:hover,
.btn.active:focus,
.btn.active:hover,
.open>.btn.dropdown-toggle,
.open>.btn.dropdown-toggle:focus,
.open>.btn.dropdown-toggle:hover,
.btn.btn-default,
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active,
.btn.btn-default.active,
.btn.btn-default:active:focus,
.btn.btn-default:active:hover,
.btn.btn-default.active:focus,
.btn.btn-default.active:hover,
.open>.btn.btn-default.dropdown-toggle,
.open>.btn.btn-default.dropdown-toggle:focus,
.open>.btn.btn-default.dropdown-toggle:hover,
.navbar .navbar-nav>li>a.btn,
.navbar .navbar-nav>li>a.btn:hover,
.navbar .navbar-nav>li>a.btn:focus,
.navbar .navbar-nav>li>a.btn:active,
.navbar .navbar-nav>li>a.btn.active,
.navbar .navbar-nav>li>a.btn:active:focus,
.navbar .navbar-nav>li>a.btn:active:hover,
.navbar .navbar-nav>li>a.btn.active:focus,
.navbar .navbar-nav>li>a.btn.active:hover,
.open>.navbar .navbar-nav>li>a.btn.dropdown-toggle,
.open>.navbar .navbar-nav>li>a.btn.dropdown-toggle:focus,
.open>.navbar .navbar-nav>li>a.btn.dropdown-toggle:hover,
.navbar .navbar-nav>li>a.btn.btn-default,
.navbar .navbar-nav>li>a.btn.btn-default:hover,
.navbar .navbar-nav>li>a.btn.btn-default:focus,
.navbar .navbar-nav>li>a.btn.btn-default:active,
.navbar .navbar-nav>li>a.btn.btn-default.active,
.navbar .navbar-nav>li>a.btn.btn-default:active:focus,
.navbar .navbar-nav>li>a.btn.btn-default:active:hover,
.navbar .navbar-nav>li>a.btn.btn-default.active:focus,
.navbar .navbar-nav>li>a.btn.btn-default.active:hover,
.open>.navbar .navbar-nav>li>a.btn.btn-default.dropdown-toggle,
.open>.navbar .navbar-nav>li>a.btn.btn-default.dropdown-toggle:focus,
.open>.navbar .navbar-nav>li>a.btn.btn-default.dropdown-toggle:hover {
  background: linear-gradient(60deg, #095367, #003d4e);
  color: white !important;
}

.btn.btn-warning,
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning:active,
.btn.btn-warning.active,
.btn.btn-warning:active:focus,
.btn.btn-warning:active:hover,
.btn.btn-warning.active:focus,
.btn.btn-warning.active:hover,
.open>.btn.btn-warning.dropdown-toggle,
.open>.btn.btn-warning.dropdown-toggle:focus,
.open>.btn.btn-warning.dropdown-toggle:hover,
.navbar .navbar-nav>li>a.btn.btn-warning,
.navbar .navbar-nav>li>a.btn.btn-warning:hover,
.navbar .navbar-nav>li>a.btn.btn-warning:focus,
.navbar .navbar-nav>li>a.btn.btn-warning:active,
.navbar .navbar-nav>li>a.btn.btn-warning.active,
.navbar .navbar-nav>li>a.btn.btn-warning:active:focus,
.navbar .navbar-nav>li>a.btn.btn-warning:active:hover,
.navbar .navbar-nav>li>a.btn.btn-warning.active:focus,
.navbar .navbar-nav>li>a.btn.btn-warning.active:hover,
.open>.navbar .navbar-nav>li>a.btn.btn-warning.dropdown-toggle,
.open>.navbar .navbar-nav>li>a.btn.btn-warning.dropdown-toggle:focus,
.open>.navbar .navbar-nav>li>a.btn.btn-warning.dropdown-toggle:hover {
  background: linear-gradient(60deg, #f0ba3c, #e4a40f);
}

.btn.btn-grey,
.btn.btn-grey:hover,
.btn.btn-grey:focus,
.btn.btn-grey:active,
.btn.btn-grey.active,
.btn.btn-grey:active:focus,
.btn.btn-grey:active:hover,
.btn.btn-grey.active:focus,
.btn.btn-grey.active:hover {
  background: linear-gradient(60deg, #e1eaf0, #c2ccd3);

  color: #003d4e !important;
}

.btn.btn-grey:hover,
.btn.btn-grey:focus,
.btn.btn-grey:active,
.btn.btn-grey.active,
.btn.btn-grey:active:focus,
.btn.btn-grey:active:hover,
.btn.btn-grey.active:focus,
.btn.btn-grey.active:hover {
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(87 132 177 / 40%);
}

.modal-backdrop {
  z-index: -1;
}

.modal.in .modal-dialog {
  transform: translateY(50px);
}

@media (min-width: 768px) {
  .modal-dialog {
    min-width: 600px;
    max-width: 93%;
    width: auto;
  }
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:active {
  background-color: #e7ebf1;
  color: #003d4e;
  box-shadow: none;
  outline: none;
}

.checkbox input[type="checkbox"]:checked+.checkbox-material .check {
  background-color: #003d4e;
}

.m15 {
  margin-left: 15px;
  margin-right: 15px;
}

.carousel-control.left,
.carousel-control.right {
  background: none;
}

@media screen and (min-width: 786px) {
  .zahtjev-index .filters td:nth-of-type(1) {
    padding-left: 30px !important;
    margin-top: 0;
  }

  .carousel-indicators {
    bottom: -20px;
  }

  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    font-size: 20px;
  }
}

.ct-chart {
  min-height: 180px;
}

td a:nth-of-type(1)>span.material-icons,
.kv-expand-icon .material-icons,
td a:nth-of-type(1)>.glyphicon {
  color: #e4a40f;
}

td a:nth-of-type(1)>span.material-icons.hblue {
  color: #003d4e;
}

td a:nth-of-type(1)>span.material-icons.hblue:hover,
td a:nth-of-type(1)>span.material-icons.hblue:active,
td a:nth-of-type(1)>span.material-icons.hblue:focus {
  color: #001216;
}

.kv-expand-icon-cell:hover {
  background-color: transparent !important;
}

.kv-expand-icon-cell:hover .kv-expand-icon .material-icons {
  color: #003d4e !important;
}

.msg-content {
  color: #b3c2cc !important;
}

.card .table tr.info td:last-of-type {
  text-align: left;
  box-shadow: inset 0px 0px 10px rgb(126 126 126 / 14%),
    0px 0px 5px rgb(136 136 136 / 0%);
}

/* td a:nth-of-type(3) > span.material-icons,td a:nth-of-type(3) > .glyphicon{
  color: #E8373D;
} */
span.select2-selection.select2-selection--single,
span.select2-selection__arrow {
  background-color: unset;
  box-shadow: none;
  color: #003d4e;
  border-color: #003d4e;
  border-left-color: #003d4e !important;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow b {
  border-color: white transparent transparent transparent !important;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
  background-color: #003d4e;
  height: 34px !important;
  top: 0 !important;
  right: 0;
}

.select2-container--krajee.select2-container--open .select2-selection,
.select2-container--krajee .select2-selection:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: 0.15s, box-shadow ease-in-out 0.15s;
  transition: 0.15s, box-shadow ease-in-out 0.15s;
  border-color: #003d4e !important;
}

.select2-container--krajee .select2-results__option.select2-results__option--selected,
.select2-container--krajee .select2-results__option[aria-selected="true"] {
  background-color: #cadbe6 !important;
}

.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
  background-color: #003d4e !important;
}

.select2-container--krajee .select2-dropdown {
  border-color: #003d4e !important;
}

.select2-container--krajee .select2-selection--multiple {
  min-height: 32px;
  padding: 6px 12px 0;
}

.select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field {
  padding: 0;
  height: auto;
}

.select2-container--krajee .select2-results__group,
.select2-container--krajee .select2-selection--multiple .select2-selection__choice {
  background-color: #e7ebf1;
  color: #003d4e;
  border-color: transparent;
}

.sidebar {
  z-index: 3;
}

.main-panel.big {
  width: calc(100% - 100px);
}

.sidebar.small .logo {
  min-width: 100%;
  min-height: 83px;
  background-image: url(../favicon.ico);
  background-size: auto 45px;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar.small .logo img {
  display: none;
}

.small #demo2 {
  font-size: 0px;
  padding-left: 0;
  padding-right: 0;
}

.sidebar-wrapper {
  position: relative;
  overflow: visible;
}

.sidebar .sidebar-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
}

.sidebar .logo {
  overflow: visible;
}

.sidebar .btn.btn-primary {
  padding: 5px;
  width: 25px;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 25px 25px 0;
  position: absolute;
  top: 10px;
  right: -25%;
}

.small {
  max-width: 100px;
}

.sidebar.small .nav p {
  font-size: 0;
  display: none;
}

.sidebar.small .nav>li>a {
  display: flex;
  max-width: 70px;
}

.d-flex {
  display: flex;
}

.justify-content-space {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.sidebar.small .nav i {
  margin-right: 5px;
}

.sidebar.small .nav li>a {
  margin: 10px 5px;
}

.field-dijeteskupina-dijete,
.field-dijeteskupina-skupina {
  margin-top: 0;
}

.desktop {
  display: table;
}

.notifikacije-index .desktop {
  display: block;
}

.nav>li.desktop {
  display: block;
}

.sidebar .nav>li>a.mob,
.mob {
  display: none;
}

.sidebar .nav .mob p {
  display: none;
}

.table.desktop>tbody>tr>td {
  vertical-align: top;
}

.buttons-notification {
  padding: 20px 0;
}

div[class*="notifikacije"] .buttons-notification {
  padding: 7px 0;
}

.card .table.detail-view {
  margin-bottom: 20px;
}

/*
.card .table tr td:last-of-type {
  text-align: right;
}*/
.card .table tr td.text-center:last-of-type {
  text-align: center;
}

.card .table.detail-view tr td:last-of-type {
  text-align: left;
}

.btn.toolbar-btn .red,
.red {
  color: #eb4b50;
}

.yellow {
  color: #f0ba3c;
}

.red:hover,
.red:active,
.red:focus {
  color: #d80e15;
}

.content>.container-fluid {
  min-height: calc(100vh - 110px);
}

.dropdown {
  display: inline;
}

.dijete-zapis-index .dropdown-toggle>span {
  position: relative;
  top: -7px;
  left: -7px;
}

.zahtjev-view .dropdown-toggle>span {
  position: relative;
  top: 7px;
  left: 0px;
}

.dropdown-menu {
  top: calc(100% + 15px);
}

.tox-tinymce {
  border: 1px solid #ddd !important;
  border-radius: 5px !important;
}

.tox .tox-menubar+.tox-toolbar,
.tox .tox-menubar+.tox-toolbar-overlord .tox-toolbar__primary {
  border: 1px solid #ddd !important;
  background: none;
}

.site-index .dropdown-toggle>span,
.navbar-right .dropdown-toggle>span {
  position: static;
}

.navbar-right .dropdown-menu {
  right: 0;
  left: auto;
  top: 100%;
}

.zahtjev-view.detail .form-horizontal label {
  text-align: left;
}

@media (min-width: 767px) and (max-width: 1145px) {
  .btn.btn-link.logout {
    padding: 12px;
  }

  .searchbar input {
    width: 75px;
  }

  .card-stats .card-header {
    padding: 9px;
  }
}

@media (max-width: 991px) {
  .card .card-footer {
    padding: 10px 0;
  }

  .zaposlenik-index .card-body>.btn-group {
    margin-left: 8px;
  }

  .navbar-header .navbar-toggle {
    height: 44px;
  }

  .zahtjev-index .dropdown-menu {
    left: -100px;
  }

  .navbar .navbar-toggle .icon-bar {
    background-color: #003d4e;
    border: 1px solid #003d4e;
    height: 3px;
    border-radius: 38%;
  }

  .sidebar .sidebar-wrapper {
    padding-bottom: 10px;
  }
}

@media (max-width: 1190px) {
  .navbar .navbar-brand {
    height: 100%;
    padding: 15px;
  }
}

@media (max-width: 786px) {
  .card-content.p0 {
    padding: 0;
    overflow-x: scroll;
  }

  .card-content .panel-body .grid-view {
    overflow-x: scroll;
  }

  .nav-tabs li>a {
    padding: 4px 10px;
    font-size: 10px;
  }

  .nav-tabs {
    display: flex;
  }

  .collapse.in {
    padding: 10px;
  }

  .form-group:first-of-type {
    margin: 0;
  }

  .sidebar .btn.btn-primary.search-button {
    right: 15px;
    top: 5px;
  }

  .searchbar input {
    width: 90%;
  }

  ul#w1.dropdown-menu {
    column-count: 1;
  }

  .main-panel>.content {
    padding: 60px 0 20px;
  }

  .site-index {
    margin-top: -10px;
  }

  .card {
    max-width: 100%;
    display: block;
  }

  .card.card-stats {
    margin: 25px 0 35px;
  }

  .card.nostats {
    margin-bottom: 50px;
  }

  .card.nostats.front>* {
    z-index: 9;
  }

  .card .card-header {
    top: -20px;
  }

  .card.card-stats .card-header {
    top: 0;
  }

  .card.nostats .card-content {
    padding-top: 0;
  }

  .card.nostats .card-footer {
    padding: 0 0 10px;
  }

  .card-body {
    position: relative;
    overflow: auto;
    white-space: nowrap;
    padding: 1rem 0;
  }

  .card .card-body {
    padding: 1rem 0;
  }

  .filters td:nth-of-type(1),
  .filters td:nth-of-type(2),
  .table>thead>.filters>td:nth-of-type(1),
  .table>thead>.filters>td:nth-of-type(2),
  thead tr th:nth-of-type(1),
  thead tr th:nth-of-type(2),
  tbody tr td:nth-of-type(1),
  tbody tr td:nth-of-type(2) {
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    white-space: normal;
    word-break: break-word;
  }

  .summary {
    white-space: normal;
  }

  tbody tr:nth-of-type(odd) td:nth-of-type(1),
  tbody tr:nth-of-type(odd) td:nth-of-type(2) {
    box-shadow: inset 0px 11px 8px -10px rgba(204, 204, 204, 0.367),
      inset 0px -11px 8px -10px rgba(204, 204, 204, 0.367);
  }

  .tab-content>.active,
  .tab-content {
    padding: 0;
  }

  .dijete-view tbody tr td:nth-of-type(1) {
    background-color: rgba(255, 255, 255, 0);
  }

  .dijete-view #w1 thead {
    display: none;
  }

  .dijete-view tbody tr td:nth-of-type(1),
  .dijete-view tbody tr td:nth-of-type(2) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .dijete-view .card .table tr td:last-of-type {
    text-align: center;
  }

  /* .summary {
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    padding-left: 8px;
    left: 0;
  } */
  .summary {
    padding-left: 8px;
  }

  .form-group {
    padding: 7px;
  }

  .table>thead>.filters>td:nth-of-type(1),
  .filters td:nth-of-type(1),
  thead tr th:nth-of-type(1),
  tbody tr td:nth-of-type(1) {
    /* width: 33px;*/
    min-width: 33px;
    /*max-width: 33px;*/
    left: 0px;
  }

  .table>thead>.filters>td:nth-of-type(2),
  .filters td:nth-of-type(2),
  thead tr th:nth-of-type(2),
  tbody tr td:nth-of-type(2) {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    left: 33px;
    overflow-x: hidden;
  }

  .jelovnik-view .table>thead>.filters>td:nth-of-type(2),
  .jelovnik-view .filters td:nth-of-type(2),
  .jelovnik-view thead tr th:nth-of-type(2),
  .jelovnik-view tbody tr td:nth-of-type(2),
  .jelovnik-create .table>thead>.filters>td:nth-of-type(2),
  .jelovnik-create .filters td:nth-of-type(2),
  .jelovnik-create thead tr th:nth-of-type(2),
  .jelovnik-create tbody tr td:nth-of-type(2) {
    width: unset;
    min-width: unset;
    max-width: unset;
    white-space: normal;
    word-break: inherit;
    position: static;
  }

  .jelovnik-create thead tr th:nth-of-type(1),
  .jelovnik-create tbody tr td:nth-of-type(1) {
    position: static;
  }

  .jelovnik-view .mob thead tr th:nth-of-type(1),
  .jelovnik-view .mob tbody tr td:nth-of-type(1) {
    width: 70px;
  }

  .zahtjev-index .table>thead>.filters>td:nth-of-type(2),
  .zahtjev-index .filters td:nth-of-type(2),
  .zahtjev-index thead tr th:nth-of-type(2),
  .zahtjev-index tbody tr td:nth-of-type(2),
  .zahtjev-index .table>thead>.filters>td:nth-of-type(1),
  .zahtjev-index .filters td:nth-of-type(1),
  .zahtjev-index thead tr th:nth-of-type(1),
  .zahtjev-index tbody tr td:nth-of-type(1),
  .dijete-zapis-index .table>thead>.filters>td:nth-of-type(1),
  .dijete-zapis-index .filters td:nth-of-type(1),
  .dijete-zapis-index thead tr th:nth-of-type(1),
  .dijete-zapis-index tbody tr td:nth-of-type(1),
  .dijete-zapis-index .table>thead>.filters>td:nth-of-type(2),
  .dijete-zapis-index .filters td:nth-of-type(2),
  .dijete-zapis-index thead tr th:nth-of-type(2),
  .dijete-zapis-index tbody tr td:nth-of-type(2),
  .kv-table .table>thead>.filters>td:nth-of-type(1),
  .kv-table thead .filters td:nth-of-type(1),
  .kv-table thead tr th:nth-of-type(1),
  .kv-table tbody tr td:nth-of-type(1),
  .kv-table .table>thead>.filters>td:nth-of-type(2),
  .kv-table>thead>.filters>td:nth-of-type(2),
  .kv-table .filters td:nth-of-type(2),
  .kv-grid-table .filters td[data-col-seq="1"],
  .kv-table thead tr th:nth-of-type(2),
  .kv-table tbody tr td:nth-of-type(2),
  .kv-table .summary,
  .datetimepicker .table>thead>.filters>td:nth-of-type(2),
  .datetimepicker .filters td:nth-of-type(2),
  .datetimepicker thead tr th:nth-of-type(2),
  .datetimepicker tbody tr td:nth-of-type(2),
  .datetimepicker .table>thead>.filters>td:nth-of-type(1),
  .datetimepicker .filters td:nth-of-type(1),
  .datetimepicker thead tr th:nth-of-type(1),
  .datetimepicker tbody tr td:nth-of-type(1) {
    width: unset;
    min-width: unset;
    max-width: unset;
    left: 0px;
    box-shadow: none;
  }

  .datetimepicker thead tr th:nth-of-type(2),
  .datetimepicker thead tr th:nth-of-type(1) {
    width: 32px;
    height: 32px;
  }

  .rang-lista tbody tr:nth-of-type(odd) td:nth-of-type(2),
  .rang-lista tbody tr:nth-of-type(odd) td:nth-of-type(1) {
    background-color: rgba(255, 255, 255, 0);
  }

  .zahtjev-index .table>thead>.filters>td:nth-of-type(2),
  .zahtjev-index .filters td:nth-of-type(2) {
    width: auto;
    min-width: none;
    max-width: none;
  }

  .card-header span.card-title {
    font-size: 28px;
    padding-right: 20px;
  }

  .card-header .btn {
    padding: 12px 24px;
  }

  .razlog-izostanka thead tr th,
  .razlog-izostanka tbody tr td {
    min-width: 75px;
    max-width: 75px;
    position: static;
  }

  .notifikacije-index .kv-grid-table tbody tr td:nth-of-type(1),
  .notifikacije-index .kv-grid-table tbody tr td:nth-of-type(2),
  .notifikacije-index .kv-grid-table tbody tr td:nth-of-type(3) {
    background: none;
    color: inherit;
    box-shadow: inherit;
  }

  .kv-table-wrap tr>td:first-child {
    font-size: 1.2em;
  }

  .card .kv-grid-table tr td:last-of-type {
    text-align: center;
  }

  .datetimepicker .table>thead>.filters>td:nth-of-type(2),
  .datetimepicker .filters td:nth-of-type(2),
  .datetimepicker thead tr th:nth-of-type(2),
  .datetimepicker tbody tr td:nth-of-type(2),
  .datetimepicker .table>thead>.filters>td:nth-of-type(1),
  .datetimepicker .filters td:nth-of-type(1),
  .datetimepicker thead tr th:nth-of-type(1),
  .datetimepicker tbody tr td:nth-of-type(1) {
    box-shadow: none;
  }

  .detail th,
  .detail td {
    width: 50% !important;
  }

  tbody tr td {
    white-space: normal;
  }

  .bootstrap-timepicker .form-group {
    margin-top: 10px;
  }

  .bootstrap-timepicker .form-group .form-control {
    font-size: 12px;
  }

  .mob thead tr th:nth-of-type(1),
  .mob thead tr th:nth-of-type(2),
  .mob tbody tr td:nth-of-type(1),
  .mob tbody tr td:nth-of-type(2),
  .mob .summary {
    position: unset;
    background-color: white;
  }

  .mob thead tr th:nth-of-type(1),
  .mob tbody tr td:nth-of-type(1) {
    width: unset;
    min-width: unset;
    max-width: unset;
  }

  .mob thead tr th:nth-of-type(2),
  .mob tbody tr td:nth-of-type(2) {
    width: unset;
    min-width: unset;
    max-width: unset;
  }

  .mob {
    overflow-x: scroll;
  }

  strong.mob {
    overflow: hidden;
  }

  .sidebar a.mob {
    overflow-x: unset;
  }

  .mob button.btn.btn-link.logout {
    display: block;
    margin: auto;
  }

  table.mob {
    background-color: white;
  }

  .table.mob>tbody>tr>td {
    padding: 5px;
    vertical-align: top;
  }

  .table.mob.zaposlenici>tbody>tr>td {
    padding: 5px;
    vertical-align: middle;
    overflow: visible;
  }

  .table.mob.zaposlenici>tbody>tr>td .input-group .input-group-addon {
    padding: 0;
  }

  .zahtjev-index .input-group.date .input-group-addon {
    padding: 2px;
  }

  .bootstrap-timepicker .dropdown-menu {
    width: min-content;
    min-width: 80px;
  }

  .bootstrap-timepicker-widget table {
    width: auto;
    margin: auto;
  }

  .mob thead tr th:nth-of-type(1) {
    background: linear-gradient(60deg, #095367, #003d4e);
    color: white;
  }

  .nav>li.desktop,
  .desktop {
    display: none;
  }

  .sidebar .nav>li>a.mob,
  .sidebar .nav .mob p,
  .mob {
    display: block;
    font-size: 12px;
  }

  .sidebar .nav>li>a.mob {
    min-height: 40px;
  }
}

.mx-25 {
  margin: 0 25px;
}

.mx-auto {
  margin: 0 auto;
  display: block;

  float: none;
}

.btn.mx-auto {
  width: 80%;
}

.px-1 {
  padding-left: 15px;
  padding-right: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.px-35 {
  padding-left: 35px;
  padding-right: 35px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.s2-togall-button {
  color: #003d4e;
}

.panel-default>.panel-heading {
  background-color: white;
}

/* --------------------------------------------NETFLIX----------------------------------------------- */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  object-fit: contain;
}

.media-display {
  width: 95%;
  box-shadow: 0 0px 20px 0px rgba(39, 112, 176, 0.28);
  border: none;
  max-height: 500px;
  max-width: 1800px;
  margin: 0 auto 20px;
}

.slick-item {
  object-fit: contain;
  max-height: 500px;
  max-width: 1800px;
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-item>img {
  object-fit: contain;
  max-height: 500px;
}

.MultiCarousel {
  float: left;
  padding: 25px 5px;
  width: 100%;
  position: relative;
}

.slick-item-preview {
  opacity: 1;
  margin: 5px 10px;
  max-height: 200px;
  max-width: 300px;
  object-fit: contain;
  position: relative;
  cursor: pointer;
}

.slick-item-preview:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: linear-gradient(0deg, #003d4e, #9dbacc);
  z-index: 9;
}

.slick-item-preview:after {
  /*content:"\e037";*/
  opacity: 1;
  font-family: "Material Icons Round";
  text-shadow: 1px 1px 20px white;
  font-size: 50px;
  line-height: 50px;
  color: #003d4e;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 10;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  transition: all 0.2s linear;
}

.slick-item-preview.slick-current:before,
.slick-item-preview.slick-current:after {
  opacity: 0;
}

.slick-item-preview.slick-center {
  margin: 5px 10px;
  opacity: 1;
  transform: scale(1);
  transition: all 700ms ease;
}

.slick-item-preview>img {
  object-fit: contain;
  cursor: pointer;
  height: 200px;
}

.slick-dots {
  bottom: 0;
}

.slick-prev:before,
.slick-next:before {
  color: #003d4e;
  opacity: 0.3;
}

.slick-item-preview:hover:after {
  transform: scale(1.5);
  cursor: pointer;
}

.slick-next {
  right: -20px;
}

.slick-prev {
  left: -20px;
}

@media (max-width: 1025px) {
  .slick-item>img {
    height: 370px;
  }
}

@media (max-width: 480px) {
  .slick-item>img {
    height: 250px;
  }

  .slick-item-preview {
    max-height: 100px;
  }

  .slick-item-preview:before {
    height: calc(100% + 5px);
  }

  .slick-item-preview>img {
    height: 105px;
  }

  .tooltip.in {
    display: none !important;
  }
}

/* @media (max-width:480px){
  .slick-display{display:none}
  .slick-item-preview:before,.slick-item-preview:after{opacity: 0;}
} */
/*
.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
  float: left;
  transition: 0.3s ease all;
  height: 160px;
  position: relative;
  object-fit: contain;
}

.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: #003d4e16;
  height: 100%;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s ease all;
  transition-delay: 0.05s;
}
.MultiCarousel .MultiCarousel-inner .item > div:hover {
  transform: scale(1.18);
  box-shadow: 0 0px 20px 0px rgba(39, 112, 176, 0.28);
}
.MultiCarousel .MultiCarousel-inner .item > div:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0px;
  content: "\f04b";
  width: 0;
  height: 0%;
  opacity: 0;
  transition: 0.3s ease-in opacity;
}
.MultiCarousel .MultiCarousel-inner .item > div:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #003d4e;
  font-size: 40px;
  padding-top: 25%;
  content: "\f04b";
  position: absolute;
  background-image: linear-gradient(180deg, #003d4e37, #003d4ecd);
  opacity: 1;
  mix-blend-mode: overlay;
  z-index: 2;
}
.MultiCarousel .MultiCarousel-inner .item > div a {
  display: block;
  height: 100%;
  padding: 100px 0px 10px;
}
.MultiCarousel .MultiCarousel-inner .item > div a:hover {
  color: #fff;
}
.MultiCarousel .MultiCarousel-inner .item > div > * {
  z-index: 100;
}
.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 20px);
  width: 35px;
  height: 35px;
  padding: 0;
}
.MultiCarousel .leftLst {
  left: 0;
}
.MultiCarousel .rightLst {
  right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #003d4e;
  opacity: 0.3;
}*/
/*
.display-overlay {
  position: relative;
}
.display-overlay div {
  position: absolute;
  bottom: 0;
  left: 45px;
  color: #fff;
}
.display-overlay:before {
  width: 95%;
  height: 100%;
  top: 0;
  left: 35px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #003d4e;
  font-size: 40px;
  padding: 15% 45% 0;
  content: "\f04b";
  position: absolute;
  background-image: linear-gradient(180deg, #003d4e37, #003d4ecd);
  opacity: 1;
  mix-blend-mode: overlay;
  z-index: 9;
}*/
/* --------------------------------------------/NETFLIX----------------------------------------------- */
hr {
  width: 100px;
}

.prev .fa {
  margin-top: 124px;

  padding-left: 7px;
}

.next .fa {
  margin-top: 124px;
  padding-left: 12px;
}

.btn {
  cursor: pointer;
}

.bootstrap-timepicker .form-group-sm .form-control {
  font-size: 14px;
}

input[type="radio"] {
  width: 13px;
  height: 13px;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #003d4e;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="checkbox"]:checked:before {
  width: 13px;
  height: 13px;
  border-radius: 3px;
  top: -1.5px;
  left: 0px;
  position: relative;
  background-color: #003d4e;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #003d4e;
}

input[type="checkbox"]:checked:after {
  width: 5px;
  height: 10px;
  border-radius: 0px;
  top: -25px;
  left: 5px;
  position: relative;
  background-color: transparent;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media (max-width: 786px) {
  input[type="checkbox"]:checked:after {
    top: -6px;
    left: -7px;
  }

  .tab-content input[type="checkbox"]:checked:after {
    top: -25px;
    left: 5px;
  }

  .tab-content .col-sm-2 {
    text-align: right;
  }
}

input[type="time"] {
  padding: 8px 24px;
  width: 100%;
  max-width: 120px;
}

input[type="submit"] {
  background-color: white;
  color: #003d4e;
}

.text-info {
  color: #003d4e;
}

.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active {
  background-color: #003d4e;
  border-color: #003d4e;
  background-image: none;
}

.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span:hover,
.datepicker table tr td.active:active:hover,
.datetimepicker table tr td.today:hover,
.datetimepicker table tr td.today:hover:hover,
.datetimepicker table tr td.today:hover,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.highlighted.active.focus,
.datepicker table tr td.day:hover,
.datepicker table tr td.focused,
.datetimepicker table tr td.day:hover,
.datetimepicker table tr td.active:hover.active,
.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.in-range {
  background-color: #e4a40f;
  border-color: #e4a40f;
  color: white;
  background-image: none;
}

.datetimepicker table tr td.today,
.datetimepicker table tr td.today.disabled,
.datetimepicker table tr td.today.disabled:hover {
  background-image: none;
}

.form-group.field-roditelj-1-id,
.form-group.field-roditelj-0-id {
  margin-top: 0;
  padding: 0;
}

.btn.btn-default:hover,
.btn-group.open>.dropdown-toggle.btn.btn-default {
  border-radius: 8px;
}

.btn-group.open>.dropdown-menu {
  top: 100%;
}

.btn-group.open:first-child>.dropdown-toggle.btn.btn-default {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.red.small-x {
  vertical-align: top;
  font-size: 12px;
  line-height: 23px;
}

th .red.small-x {
  line-height: 30px;
}

@media (max-width: 991px) {
  .btn.dropdown-toggle {
    margin-bottom: 10px;
  }

  .card-header .btn.dropdown-toggle {
    padding: 4px 24px;
  }

  .red.small-x {
    vertical-align: middle;

    line-height: 12px;
  }

  th .red.small-x {
    vertical-align: top;

    line-height: 30px;
  }
}

@media (min-width: 786px) {
  .kv-grid-table .filters td:nth-of-type(1) {
    padding-left: 8px;
  }
}

.kv-grid-table .mob-hide {
  display: table-cell !important;
}

.media-index .card-body>.container {
  max-width: 100% !important;
}

.msg-content a.desktop {
  display: block;
}

.msg-content a.mobile {
  display: none;
}

@media (max-width: 480px) {
  .skupina-view .kv-grid-toolbar .btn {
    width: 100px;
  }

  .skupina-view .kv-grid-toolbar button[title="delete"],
  .skupina-view .kv-grid-toolbar #w5-togdata-page {
    margin-left: 100px;
  }

  .btn-sm.mini {
    padding: 5px 15px;
  }

  .media-display {
    margin: 0 auto;
  }

  .display-overlay:before {
    left: 0;
    padding-top: 45%;
  }

  .display-overlay div {
    left: 10px;
  }

  .kv-table-wrap td.text-left {
    text-align: left;
  }

  .col-lg-5.pl-0 {
    padding-left: 15px;
  }

  .card-body>.btn-group {
    display: flex;
    /* text-align: center; */
    justify-content: center;
  }

  .kv-grid-table .mob-hide {
    display: none !important;
  }

  h2 {
    font-size: 2em;
  }

  /* --------------------------------Kartik GRIDVIEW---------------------------------- */
  .notifikacije-index .desktop {
    display: none;
  }

  .kv-grid-table tbody tr:nth-of-type(odd) td {
    background: rgb(236, 241, 245);
  }

  .pl-1 {
    padding-left: 10px;
  }

  .notifikacije-index .mob .kv-grid-table tbody tr td:nth-of-type(1) a,
  .notifikacije-index .mob .kv-grid-table tbody tr td:nth-of-type(2) a {
    color: #003d4e !important;
    text-decoration: underline !important;
    display: block;
  }

  .notifikacije-index .mob .kv-grid-table tbody tr td:nth-of-type(2) a.desktop {
    display: none;
  }

  /* .modal-open .modal > *{
    overflow:hidden;
    transform: translate(-50%, -50%) !important;
  } */
  .modal-open .modal {
    top: 50%;
  }

  .modal-open .modal .modal-dialog {
    position: absolute;
    float: left;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -85%);
    width: 100vw;
    height: 100vh;
    margin-top: 300px;
  }

  .modal * {
    white-space: normal;
    word-break: normal;
  }

  .msg-content a.desktop {
    display: none !important;
  }

  .msg-content a.mobile {
    display: block;
    font-size: 14px !important;
    padding-bottom: 0;
  }

  .kv-grid-table .filters td:nth-of-type(1) input {
    margin-top: 27px;
  }

  .kv-grid-container .table>thead>.filters>td:nth-of-type(1),
  .kv-grid-container .filters td:nth-of-type(1),
  .kv-grid-container thead tr th:nth-of-type(1),
  .kv-grid-container tbody tr td:nth-of-type(1),
  .kv-grid-container .table>thead>.filters>td:nth-of-type(2),
  .kv-grid-container .filters td:nth-of-type(2),
  .kv-grid-container thead tr th:nth-of-type(2),
  .kv-grid-container tbody tr td:nth-of-type(2),
  .kv-grid-container.table-responsive>.table>tbody>tr>td,
  .kv-grid-container.table-responsive>.table>thead>tr>th {
    min-width: calc(100vw - 40px);
    max-width: unset;
    width: unset;
    box-shadow: none;
    white-space: break-spaces;
    word-break: break-all;
    position: unset;
  }

  .kv-grid-container.table-responsive tr {
    max-width: calc(100vw - 40px);
  }

  .upitnik-view .kv-grid-table tbody tr td:nth-of-type(2) {
    background: rgb(255, 255, 255);
    color: inherit;
  }

  /* --------------------------------/////////Kartik GRIDVIEW---------------------------------- */
}

.dropdown-menu>li>button:hover,
.dropdown-menu>li>button:focus,
.dropdown-menu>li>button:active {
  background-color: #e7ebf1;
  color: #003d4e;
  box-shadow: none;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
  right: 0;
}

.pl-0 {
  padding-left: 0;
}

.ml-0 {
  margin-left: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.lh-2 {
  line-height: 2;
}

.mt-8 {
  margin-top: 8px;
}

.fc-daygrid-event-dot {
  border-color: #e8373d;
}

.fc-daygrid-dot-event .fc-event-title {
  white-space: normal;
}

.fc-event:hover {
  cursor: pointer;
}

.fileinput-remove-button,
.fileinput-upload-button {
  padding: 12px;
}

.poruka table tbody tr th {
  max-width: 50px;
  /* width: 100px;*/
  padding: 12px 8px !important;
  font-weight: normal;
  color: gray;
}

.poruka tbody>tr:last-of-type {
  min-height: 120px;
}

.toolbar .btn.toolbar-btn.red {
  color: #eb4b50 !important;
}

.toolbar .btn.toolbar-btn.red:hover {
  color: #d80e15 !important;
}

p.toolbar {
  text-align: right;
  margin-bottom: 15px;
}

.poruka .table tr td:last-of-type {
  text-align: left;
}

.poruka .fa {
  font-size: 24px;
}

.poruka .table tr td.download {
  text-align: right;
}

.poruka .table>tbody>tr>th,
.poruka .table>tbody>tr>td {
  border: none;
}

.back {
  margin-top: 50px;
  background: url(../background2.png);
  background-position: center;
  background-size: 100% auto;
  background-attachment: fixed;
}

.poruka table .attachments .fa {
  font-size: 4em;
}

.poruka td a:nth-of-type(1)>span.material-icons,
.poruka td a:nth-of-type(1)>.glyphicon {
  color: #fff;
}

.att:before {
  opacity: 0;
  transition: 0.5s ease all;
}

.att:hover::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-top: 20%;
  font-size: 24px;
  content: "\f019";
  color: #003d4e;
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
}

.fc-h-event {
  /* allowed to be top-level */
  display: block;
  border: none !important;
  background: linear-gradient(60deg, #095367, #003d4e) !important;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  display: none;
}

.fc-daygrid-block-event .fc-event-title {
  padding-left: 5px;
}

.kv-grid-toolbar .btn.toolbar-btn,
.kv-grid-toolbar .btn-group .btn.btn-default {
  background: none;
  background-color: white;
}

.kv-grid-toolbar .btn.toolbar-btn:hover,
.kv-grid-toolbar .btn.toolbar-btn:active,
.kv-grid-toolbar .btn.toolbar-btn:focus,
.kv-grid-toolbar .btn-group .btn.btn-default:hover,
.kv-grid-toolbar .btn-group .btn.btn-default:active,
.kv-grid-toolbar .btn-group .btn.btn-default:focus {
  background: none;
  background-color: rgb(230, 230, 230);
  color: #e4a40f !important;
  box-shadow: none;
}

.text-warning {
  color: #e4a40f !important;
}

.skupina-form .form-group {
  margin-top: 5px;
}

.form-group .file-caption-name.form-control {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.file-caption-name+.input-group-btn.input-group-append {
  padding-right: 0;
  padding-left: 0;
}

.files a {
  display: block;
  margin: 5px 0;
}

.files a span,
.files a img {
  margin-right: 5px;
}

.files a span {
  font-size: 36px;
  line-height: 1.4;
  width: 50px;
  height: 50px;
  padding-left: 7px;
}

.files .img-thumb {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  object-fit: contain;
}

.py-15 {
  padding: 15px 0;
}

#dijete-spol input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #003d4e;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

@media (max-width: 786px) {
  .notifikacije-index .desktop {
    display: none !important;
  }
}

.form-group {
  margin-top: 15px;
}

.form-group.field-kontakt-vrsta,
.form-group.field-kontakt-vrijednost,
#new_kontakt .form-group label.control-label {
  margin-top: 0 !important;
}

input[type="text"] {
  padding: 7px;
}

.bootstrap-dialog.type-warning .modal-header {
  padding: 12px 24px !important;
  background: linear-gradient(60deg, #f0ba3c, #e4a40f) !important;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-0 {
  padding-top: 0 !important;
}

span.hidden-xs {
  display: none;
}

.input-group-append .btn.btn-default:hover,
.input-group-append .btn-group.open>.dropdown-toggle.btn.btn-default {
  border-radius: unset;
}

.field-dijeteskupina-dijete {
  margin-top: 0 !important;
}

.bootstrap-timepicker-widget table td {
  text-align: center;
  height: 1.875rem;
  margin: 0;
  padding: 0.125rem !important;
}

.btns {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.dnevnik-zapis-create .modal-title {
  display: inline-block;
}

.dnevnik-zapis-create .modal.in .modal-dialog,
.dnevnik-zapis-create .modal .modal-dialog {
  transform: translateY(-70px);
  max-width: 500px;
}

.btns .btn {
  /* max-width: 40%; */
  /* padding-left: 0; */
  white-space: normal;
}

.smallform {
  width: 100%;
}

.smallform .input-group .input-group-btn.input-group-append {
  padding: 0 0 0 12px;
}

.smallform .form-group label.control-label {
  margin-top: 0px !important;
}

.smallform .kv-fileinput-caption {
  height: 41px;
}

.float-right {
  float: right;
}

.smallform h3 {
  padding-right: 15px;
  padding-left: 6px;
  margin-bottom: 0;
}

.docs .acc {
  margin: 15px 0;
}

.docs .acc .card-title {
  background: linear-gradient(60deg, #cadbe6, #9dbacc);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(87 132 177 / 40%);
  border-radius: 3px;
  padding: 15px;
}

.docs .acc .card-body {
  background-color: #fff;

  padding: 0.9375rem 20px;
}

.docs span.card-title {
  display: block;
}

.docs span.card-title .d-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sidebar[data-color="purple"] .docs-menu .nav li.active>.tree-toggle,
.off-canvas-sidebar[data-color="purple"] .docs-menu .nav li.active>.tree-toggle {
  background-color: #003d4e;
  box-shadow: 0 8px 6px -5px rgb(39 119 176 / 28%),
    0 4px 20px 0px rgb(0 0 0 / 12%), 0 2px 6px -5px rgb(39 119 176 / 20%);
  color: #fff;
  border-radius: 3px;
}

.sidebar[data-color="purple"] .docs-menu .nav li.active>a i,
.off-canvas-sidebar[data-color="purple"] .docs-menu .nav li.active>a i {
  color: #fff;
}

.popover[class*="tour-"] .popover-navigation *[data-role="prev"],
.popover[class*="tour-"] .popover-navigation *[data-role="next"],
.popover[class*="tour-"] .popover-navigation *[data-role="end"] {
  cursor: pointer;
  padding: 5px 10px;
}

.dnevnik-zapis-create .dropdown-toggle {
  margin-bottom: 0;
}

.dnevnik-zapis-create .dropdown-toggle>span {
  position: relative;

  left: -18%;
}

.dnevnik-zapis-create .dropdown-menu li>a:hover {
  cursor: pointer;
}

.dnevnik-zapis-create .dropdown-menu {
  width: 100%;
}

.dnevnik-zapis-create .form-group.field-dnevnikzapis-zapis {
  display: none;
}

@keyframes dnevnikanim {
  0% {
    opacity: 0;
    transform: translateY(-250px);
    max-height: 0px;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    max-height: 98em;
    z-index: 99;
  }
}

.dnevnik-zapis-create .hidden {
  display: block !important;
  opacity: 0;
  max-height: 0px;
  max-width: 100%;
  position: absolute;
  padding: 0 6px 6px 6px;
}

.dnevnik-zapis-create .hidden.slidedown {
  position: relative;
  animation: dnevnikanim 1s ease 0s 1 normal forwards;
}

.p-10 {
  padding: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.instr-text li {
  max-width: 65ch;
}

.f-24 {
  font-size: 24px;
}

input.form-control.warning {
  background-color: rgba(236, 155, 155, 0.753);
}

select.form-control.select2-hidden-accessible.warning+span {
  background-color: rgba(236, 155, 155, 0.753);
}

.zaposlenici label.control-label {
  margin-top: 0;
}

.zaposlenici .input-group .input-group-addon .material-icons {
  font-size: 16px !important;
}

.zaposlenici .dropdown-menu {
  top: calc(100% - 10px);
}

.zaposlenici .d-flex {
  display: flex;
  align-items: center;
}

.zaposlenici .bootstrap-timepicker .inline-addon-sm,
.zaposlenici .table.mob.zaposlenici>tbody>tr>td .input-group .input-group-addon,
.zaposlenici .input-group .input-group-addon {
  display: none;
}

.zaposlenici .d-flex span.material-icons {
  font-size: 14px;
  margin-top: 13px;
}

.zaposlenici .form-group.form-group-sm .form-control {
  padding-left: 5px;
}

.zaposlenici .bootstrap-timepicker {
  margin: 0 5px 0 2px;
}

.zaposlenici .card-body>.table tr td:first-of-type,
.zaposlenici .card-body>.table tr th:first-of-type {
  vertical-align: middle;
}

.zaposlenici .form-group select {
  appearance: auto;
}

#upload>.form-group>*,
#upload>.form-group,
#upload>.dnevnik-zapis-form>.form-group {
  margin-top: 0px !important;
}

.perc70 {
  width: 70%;
}

.perc70 .form-group,
.perc70 .form-group label.control-label {
  margin-top: 0;
}

.perc70 .form-group .form-control {
  margin-bottom: 0px;
}

@media (max-width: 786px) {
  .zaposlenici .d-flex {
    flex-direction: column;
  }

  .dnevnik-zapis-create .hidden,
  #buttons {
    padding-left: 7px;
  }

  .dnevnik-zapis-create form .col-lg-12 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .dnevnik-zapis-create form .col-lg-6 {
    padding-right: 15px;
  }

  .dnevnik-zapis-create form#w0 {
    margin-bottom: 30px;
  }

  .file-drop-zone-title {
    white-space: break-spaces;
  }

  .row.smallform {
    margin: 0;
  }

  .dnevnik-zapis-index .kv-grid-container.table-responsive>.table>tbody>tr>td {
    white-space: normal;
    word-break: break-word;
  }

  .dnevnik-zapis-create .pt-20 {
    padding-top: 0;
  }

  .form-group.field-dnevnikzapis-status.is-empty {
    padding: 0;
  }

  .dnevnik-zapis-create h3 {
    margin-bottom: 0;
  }

  .dnevnik-zapis-index td li {
    text-align: left !important;
  }

  .dnevnik-zapis-create tbody tr:nth-of-type(odd) td:nth-of-type(1),
  .dnevnik-zapis-create tbody tr:nth-of-type(odd) td:nth-of-type(2) {
    box-shadow: none;
    border: none;
  }

  .perc70 {
    width: 40% !important;
  }
}

@media (min-width: 787px) {

  .dnevnik-zapis-index th:nth-of-type(2),
  .dnevnik-zapis-index td:nth-of-type(2) {
    max-width: 200px;
    word-break: break-word;
  }

  .dnevnik-zapis-index th:nth-of-type(3),
  .dnevnik-zapis-index td:nth-of-type(3) {
    max-width: 450px;
    word-break: break-word;
  }
}

.edit-zaposlenici .input-group-sm>.form-control {
  font-size: 14px;
}

.edit-zaposlenici .editform input {
  margin-top: 10px;
  padding: 15px 0 3px 5px;
}

.edit-zaposlenici .editform input:focus {
  background-image: linear-gradient(60deg, #095367, #003d4e);
  box-shadow: none;
  border: 1px solid #003d4e;
  border-width: 0 0 2px 0;
}

.d-flex.justify-content-end {
  display: flex;
  justify-content: flex-end;
}

.ml-15 {
  margin-left: 15px;
}

.izvjestaji .form-group {
  margin-left: 15px;
}

.izvjestaji .select2-container--krajee .select2-selection--single {
  padding-right: 35px !important;
}

.dnevnik-zapis-view .card .col-lg-3 a,
.dnevnik-zapis-view .card .col-lg-3 a img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}

.h-100 {
  height: 100%;
}

.equal {
  display: flex;
  flex-wrap: wrap;
}

.dnevnik-zapis-view .detail-view th {
  width: 250px !important;
}

.dnevnik-zapis-index .grid-view img {
  max-width: 50px;
  margin: 5px;
}

.right {
  float: right;
}

.btn-simple.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0 0px 20px 0px rgba(39, 112, 176, 0.28);
}

.action-right .kv-grid-table tr td:last-of-type,
td.text-right,
th.text-right {
  text-align: right !important;
}

.kv-table-header {
  background: #fff;
}

#more {
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.flex-wrap {
  flex-wrap: wrap;
}

.card-header.d-flex {
  white-space: normal !important;
  word-break: break-word;
  word-wrap: break-word;
  align-items: center;
}

@media (min-width: 786px) {
  .card-header.d-flex {
    justify-content: space-between;
  }
}

.jelovnik-create .select2-selection__rendered li.select2-selection__choice {
  max-width: 150px;
  white-space: normal;
}

.fc .fc-toolbar-title {
  font-size: 1em
}

.evidencija {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 0;
}

@media (max-width: 768px) {
  #djeca {
    width: 200%;

  }

  #djeca>thead>.filters>td:nth-of-type(2),
  .filters td:nth-of-type(2),
  thead tr th:nth-of-type(2),
  tbody tr td:nth-of-type(2) {
    left: unset
  }

  #cardDjeca,
  #djeca {
    transform: rotateX(180deg);
  }

  #djeca>thead>.filters>td:nth-of-type(1),
  .filters td:nth-of-type(1),
  thead tr th:nth-of-type(1),
  tbody tr td:nth-of-type(1) {
    min-width: 75px;
    background-color: #fff;
    z-index: 9999999;
    word-break: inherit;
  }
}