<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: sans-serif;
        }

        .uppercase {
            text-transform: uppercase;
        }

        .bold {
            font-weight: bold
        }

        .red {
            color: #eb4b50
        }

        .left {
            text-align: left
        }

        .right {
            text-align: right
        }

        .bg-grey {
            background: rgb(194, 194, 194)
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0
        }

        th,
        td {
            border-collapse: collapse;
            border: 1px solid grey;
        }

        .no-border th,.no-border td {border: none;}
        th,
        td {
            padding: 5px;
            text-align: center;
        }

        thead tr:last-of-type th {
            font-size: 14px;
        }
    </style>
</head>

<body>
    <p class="uppercase bold">Ime vrtića</p>
    <p class="bold">Adresa</p>
    <p class="bold">OIB:</p>
    <p class="bold">Evidencija o radnom vremenu radnika za mjesec <span class="red uppercase">mjesec godina</span>
        godine / radnici</p>
    <p>Evidenciju (strana 1 i 2) o radnom vremenu vodi ravnateljica i dostavlja se računovodstvu za obračun plaće.
        Dostavljeno: <span>datum kreiranja</span></p>
    <table class="">
        <thead>
            <tr>
                <th colspan="2" rowspan="2" class="bg-grey">Ime i prezime</th>
                <th colspan="31" class="bg-grey">Datum</th>
                <th rowspan="2" class="bg-grey">Napomena</th>
            </tr>
            <tr>
                <th class="">01</th>
                <th class="">02</th>
                <th class="">03</th>
                <th class="">04</th>
                <th class="">05</th>
                <th class="red">06</th>
                <th class="red">07</th>
                <th class="">08</th>
                <th class="">09</th>
                <th class="">10</th>
                <th class="">11</th>
                <th class="">12</th>
                <th class="red">13</th>
                <th class="red">14</th>
                <th class="">15</th>
                <th class="">16</th>
                <th class="">17</th>
                <th class="">18</th>
                <th class="">19</th>
                <th class="red">20</th>
                <th class="red">21</th>
                <th class="">22</th>
                <th class="">23</th>
                <th class="">24</th>
                <th class="">25</th>
                <th class="">26</th>
                <th class="red">27</th>
                <th class="red">28</th>
                <th class="">29</th>
                <th class="">30</th>
                <th class="">31</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="left">1.</td>
                <td class="left">Ime i prezime</td>
                <td class="">8</td>
                <td class="">8</td>
                <td class="">8</td>
                <td class="">8</td>
                <td class="">8</td>
                <td class="">8</td>
                <td class=""></td>
                <td class=""></td>
                <td class="">8</td>
                <td class="">8</td>
                <td class="">8</td>
                <td class="">8</td>
                <td class=""></td>
                <td class=""></td>
                <td class="red">B</td>
                <td class="">8</td>
                <td class="">8</td>
                <td class="red">G</td>
                <td class="">8</td>
                <td class=""></td>
                <td class=""></td>
                <td class="">8</td>
                <td class="">8</td>
                <td class="">8</td>
                <td class="">8</td>
                <td class="">8</td>
                <td class=""></td>
                <td class=""></td>
                <td class="">8</td>
                <td class="">8</td>
                <td class="red">PD</td>
                <td class="red">Napomena</td>
            </tr>
        </tbody>
    </table>
    <p class="bold">Prilozi:</p>
    <ol>
        <li>Ime Prezime - Izvještaj o bolovanju</li>
        <li>Ime Prezime - Izvještaj o bolovanju</li>
    </ol>
    <table class="no-border">
        <tr>
            <td class="left">
                Biograd na Moru, 31. listopada 2021.
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="left">
                KLASA : 113-01/21-01/66

            </td>
            <td class="right bold">Ravnateljica:</td>
        </tr>
        <tr>
            <td class="left">
                URBROJ: 2198/16-10-01-21-1
            </td>
            <td class="right">Ime Prezime</td>
        </tr>
    </table>
</body>

</html>