html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 16px !important;
}

body * {
  transition: all 0.2s linear;
}

body .notifyjs-wrapper {
  z-index: 9999 !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #e4a40f2a;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #003d4e;
  border-radius: 4px;
}

a {
  color: #003d4e;
  transition: all 0.2s linear;
}

.navbar-nav li a:hover {
  background-color: white;
  color: #003d4e;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.back {
  margin-top: 44px;
  background: url(../background2.png);
  background-position: center;
  background-size: 100% auto;
  background-attachment: fixed;
}

.breadcrumb {
  background-color: white;
}

.panel-default {
  background-color: transparent;
  position: relative;
  border: none;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}

.panel-default>.panel-heading {
  color: #003d4e;
  background-color: transparent;
}

.panel-default:before {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px) saturate(90%) contrast(50%) brightness(140%);
  border-radius: 3px;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
}

.panel-default>* {
  position: relative;
  z-index: 5;
}

.panel-success>.panel-heading {
  background-color: #e4a40f;
  color: #fff;
}

.panel-success {
  border-color: #e4a40f;
}

.panel-footer {
  background-color: #fff;
}

.wrap>.container {
  padding: 30px 15px 20px;
}

.navbar-brand {
  padding: 7px 25px;
}

.navbar-brand img {
  height: 45px;
}

.footer {
  background-color: #003d4e;
  border-top: 1px solid #003d4e;
  padding-top: 20px;
  color: white;
  margin-top: -20px;
}

.footer a {
  color: #e4a40f;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  color: white;
}

#footer-divider {
  margin-top: -20px;
  fill: #003d4e;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 18px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

.notifikacije-index .desktop {
  display: block;
}

.sidebar .nav>li>a.mob,
.mob {
  display: none;
}

a.btn.btn-success.right,
button[type="submit"] {
  /* width: 30% !important; */
}

.modal-content {
  border: none;
}

.btn-default.btn-round {
  background: #003d4e;
  color: white !important;
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  padding-left: 9px;
  margin-bottom: 12px;
}

.btn-default.btn-round:hover {
  box-shadow: 0 12px 20px -10px rgb(0 188 212 / 28%),
    0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(0 188 212 / 20%);
  background-color: #10596e;
}

.btn-danger {
  background-color: #d80e15;
  border: none;
}

.btn-danger:hover {
  box-shadow: 0 12px 20px -10px rgb(216 14 21 / 28%),
    0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(216 14 21 / 20%);
  background-color: #ec1a21;
}

.card-collapse {
  border: 1px solid rgb(0 61 78 / 0%);
  border-radius: 4px;
  margin-top: 10px;
  background-color: white;
  box-shadow: inset 0px 0px 10px rgb(0 61 78 / 14%),
    0px 0px 5px rgb(0 61 78 / 0%);
}

.card-collapse .card-header a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-collapse .card-header h5 {
  font-size: 1.25em;
  margin: 0;
}

.card-collapse .card-header {
  padding: 9px 10px;
  width: 100%;
  margin: 0;
  margin-top: 0px;
  border-radius: 4px;
  background-color: white;
  box-shadow: inset 0px 0px 10px rgb(0 61 78 / 14%),
    0px 0px 5px rgb(0 61 78 / 0%);
}

.card-collapse .card-body {
  padding-top: 10px;
  padding-left: 10px;
}

.card-collapse ul {
  padding: 0;
  margin-bottom: 0;
}

.card-collapse ul li {
  list-style: none;
  padding: 0 0 10px 0;
  font-size: 16px;
}

.notifikacije-index .table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.24);
  box-shadow: inset 0px 0px 10px rgb(126 126 126 / 14%),
    0px 0px 5px rgb(136 136 136 / 0%);
}

.notifikacije-index .table-striped>tbody>tr:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.12);
  box-shadow: inset 0px 0px 10px rgb(255 255 255 / 48%),
    0px 0px 5px rgb(136 136 136 / 0%);
  overflow-x: hidden;
}

.notifikacije-index .table-bordered {
  border: none;
}

.notifikacije-index .table-bordered>thead>tr>th,
.notifikacije-index .table-bordered>thead>tr>td,
.notifikacije-index .table-bordered>thead>tr>th,
.notifikacije-index .table-bordered>tbody>tr>th,
.notifikacije-index .table-bordered>tfoot>tr>th,
.notifikacije-index .table-bordered>thead>tr>td,
.notifikacije-index .table-bordered>tbody>tr>td,
.notifikacije-index .table-bordered>tfoot>tr>td {
  border: none !important;
  background-color: transparent;
}
.table-bordered>tbody>tr>td:first-of-type,.col.l8 .table-bordered > tbody > tr > td{
  white-space: normal;
}

.kv-expand-icon-cell {
  color: #003d4e;
}

.light {
  color: #a2b1b6;
}

.kv-expand-icon-cell:hover,
.kv-expand-icon-cell:focus {
  background-color: transparent !important;
  color: #e4a40f;
}

.notifikacije-index .table>thead>.filters>td,
.notifikacije-index .filters td {
  padding: 0 8px;
}

.notifikacije-index .table>thead>tr>th {
  border-bottom-width: 1px;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 2px;
  padding-top: 4px;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.card-collapse ul li a:hover,
.card-collapse ul li a:focus,
.card-collapse ul li a.active,
.card-collapse ul li.active a {
  color: #e4a40f;
}

.card-collapse ul li a .material-icons {
  vertical-align: middle;
  font-size: 1em;
}

div[role="radiogroup"]>label {
  min-width: 10%;
  padding-right: 20px;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: "\e151";
}

a.desc:after {
  content: "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

/* .grid-view{overflow-x: scroll;} */
.grid-view td {
  white-space: nowrap;
}

.calendar table td.activity {
  background-color: #003d4e53;
}

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px;
}

.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
  background-color: #003d4e;
}

.s2-togall-button {
  color: #003d4e;
}

.select2-container--krajee.select2-container--open .select2-selection,
.select2-container--krajee .select2-selection:focus,
.select2-container--krajee .select2-dropdown {
  border-color: #003d4c;
  box-shadow: 0 0px 20px -10px rgb(0 188 212 / 28%),
    0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(0 188 212 / 20%);
}

.site-index .select2-container--krajee .select2-selection--single .select2-selection__arrow {
  background-color: #003d4c;
  right: 0;
}

.site-index .select2-container--krajee .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent;
}

.site-index .select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.summary {
  visibility: hidden;
}

a.text-center.block {
  display: block !important;
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
  padding: 22px 15px;
  border: none;
}

.navbar-fixed-top {
  border: none;
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
  text-decoration: none;
}

.nav>li>form>button.logout:focus {
  outline: none;
}

.navbar-primary {
  background-color: #003d4e;
  max-height: 64px;
}

.nav>li>a {
  color: white;
}

.nav>li>a:hover,
.nav>li>a:focus {
  outline: none;
  background-color: white;
  color: #003d4e;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 22px !important;
    padding-bottom: 22px !important;
    height: 64px;
  }
}

.nav>li.active>a {
  background-color: white;
  color: #003d4e;
}

/* form wizard */
span.input-group-addon {
  background-color: #003d4e;
  color: white;
  border: 1px solid transparent;
  border-left-color: white;
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0px 20px -10px rgb(0 188 212 / 28%),
    0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(0 188 212 / 20%);
  border-color: #10596e;
}

.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

a:hover,
a:focus {
  color: #e4a40f;
  text-decoration: none;
  outline: none;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
  padding: 40px 0;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.btn[disabled] {
  opacity: 1;
}

.stepwizard-row::before {
  top: 50%;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-index: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  line-height: 1;
  border-radius: 50%;
}

/* blockquote */
blockquote {
  margin-bottom: 40px;
}

blockquote:nth-of-type(odd) {
  border-color: #003d4e;
}

blockquote:nth-of-type(even) {
  border-color: #e4a40f;
}

span.count-notifications {
  position: absolute;
  top: 12px;
  left: 25px;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 10px;
  line-height: 1.6;
  color: white;
  background: #e4a40f;
  border-radius: 50%;
}

.count-notifications+.caret {
  display: none;
}

.navbar-primary {
  max-width: 100vw;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-fixed-top .navbar-collapse {
  max-height: fit-content;
}

/* CARD */
.site-about {
  position: relative;
  padding: 25px;
  margin-bottom: 25px;
}

.site-about h1 .float-r {
  float: right;
}

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

.card .card-header {
  box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%),
    0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  margin: -20px 15px 0;
  border-radius: 3px;
  padding: 15px;
  background-color: #999999;
  color: white;
}

.card .card-content {
  padding: 15px 20px;
}

.card .card-content ul.text-left {
  list-style: none;
  padding-left: 0px;
}

.card .card-content ul.text-left li {
  padding-left: 20px;
  position: relative;
}

.site-index .card .card-content li {
  font-size: 18px;
}

.card .card-content ul.text-left li::before {
  font-family: "Material Icons";
  content: "\f04c";
  position: absolute;
  left: 0;
  color: #003d4e;
  transition: all 0.2s linear;
}

.card .card-content ul.text-left li:hover::before {
  color: #e4a40f;
}

.card .card-header .title {
  color: #ffffff;
}

.card,
.site-about {
  background: transparent;
  position: relative;
  border-radius: 5px;
}

.card:before,
.site-about::before {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px) saturate(90%) contrast(50%) brightness(140%);
  border-radius: 5px;
  content: "";
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
}

.card>*,
.site-about>* {
  position: relative;
  z-index: 5;
}

.card-stats .card-header {
  float: left;
  text-align: center;
  display: flex;
  align-items: center;
}

.card-stats .card-header .material-icons {
  font-size: 45px;
}

.card .card-content {
  padding: 15px 20px;
}

.card-stats .card-content {
  text-align: right;
  padding-top: 10px;
}

.card .card-footer {
  margin: 0 20px 10px;
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}

.card .card-header.card-chart {
  min-height: auto;
}

.card .title {
  margin-top: 0;
  margin-bottom: 0;
}

.card .card-footer.no-border {
  border-top: 1px solid transparent;
}

.ct-chart {
  padding: 10px;
}

#dailySalesChart,
#emailsSubscriptionChart {
  padding: 12.5% 25px;
}

.card [data-background-color="green"] {
  background: linear-gradient(60deg, #cadbe6, #9dbacc);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(87 132 177 / 40%);
  color: #003d4e;
}

.ct-chart,
.card [data-background-color="green"] .ct-chart .title,
.card .card-header .ct-label {
  color: #003d4e !important;
}

.ct-chart,
.card [data-background-color="green"] .card .card-footer .card .card-header [data-background-color="green"] .ct-series-a path.ct-line,
.card .card-header .ct-series-a .ct-point {
  stroke: #003d4e !important;
}

.card [data-background-color="blue"],
.card [data-background-color="purple"] {
  background: linear-gradient(60deg, #064354, #003d4e);
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.card [data-background-color="orange"] {
  background: linear-gradient(60deg, #f0ba3c, #e4a40f);
  box-shadow: 0 12px 20px -10px #e4a40f2d, 0 4px 20px 0px rgb(0 0 0 / 12%),
    0 7px 8px -5px #e4a40f45;
}

span.card-title {
  display: inline-block;
  color: white;
  padding-right: 40px;
  line-height: 1;
  font-size: 36px;
  vertical-align: middle;
}

.card .card-body {
  padding: 0.9375rem 20px;
}

.card [data-background-color="blue"] .ct-chart,
.card .card-header.blue .ct-label,
.card .ct-chart.blue .title {
  color: white !important;
}

.card [data-background-color="blue"] .card-header.blue .ct-series-a .ct-line,
.card [data-background-color="blue"] .ct-series-a .ct-point {
  stroke: white !important;
}

.card .card-header.card-header-danger {
  background: linear-gradient(60deg, #f0ba3c, #e4a40f);
  box-shadow: 0 12px 20px -10px #e4a40f2d, 0 4px 20px 0px rgb(0 0 0 / 12%),
    0 7px 8px -5px #e4a40f45;
}

.alert.alert-info {
  color: #003d4e;
}

.card .card-header.card-header-primary,
.alert.alert-info {
  background: linear-gradient(60deg, #cadbe6, #9dbacc);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgba(87, 132, 177, 0.4);
}

.card-header.card-header-primary .card-title {
  color: #003d4e;
}

.card-header.card-header-primary+.btn-group {
  margin-left: 15px;
}

/* ----------------------------------------------CARD */

/* chart */
.ct-grid {
  stroke: rgba(255, 255, 255, 0.2);
}

.ct-grid {
  stroke-width: 1px;
  stroke-dasharray: 2px;
}

.ct-series-a .ct-bar {
  stroke: #fff;
}

.ct-series-b .ct-bar {
  stroke: #f0ba3c;
}

.ct-series-c .ct-bar {
  stroke: rgb(0 188 212);
}

.card [data-background-color="blue"] .card-header.blue .ct-series-a .ct-line,
.card [data-background-color="blue"] .ct-series-a .ct-point {
  stroke: white !important;
}

.ct-label {
  font-size: 1.3rem;
  line-height: 1.3;
}

.legend {
  text-align: center;
}

.square {
  display: inline;
  margin-right: 15px;
}

.square::before {
  width: 10px;
  height: 10px;
  content: "";
  display: inline-block;
  margin-right: 2px;
  background-color: white;
}

.square:nth-of-type(2)::before {
  background-color: #f0ba3c;
}

.square:nth-of-type(3)::before {
  background-color: #47b3d1;
}

/* ---------------------------------------------chart */
/* BUTTONS */
.btn-primary.logout {
  background-color: transparent;
  color: white;
  border-radius: 0;
}

.btn-primary.logout:hover,
.btn-primary.logout:focus,
.btn-primary.logout:active {
  background-color: white;
  color: #003d4e;
}

.btn-success,
.btn-primary {
  background-color: #003d4e;
  color: white;
  border-color: #003d4e;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-success:active:hover,
.btn-success.active:hover,
.open>.dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open>.dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open>.dropdown-toggle.btn-success.focus {
  box-shadow: 0 12px 20px -10px rgb(0 188 212 / 28%),
    0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(0 188 212 / 20%);
  background-color: #10596e;
  border-color: #10596e;
}

.btn-secondary {
  background-color: #e4a40f;
  color: white;
  border-color: #e4a40f;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  box-shadow: 0 12px 20px -10px #fab0042d, 0 4px 20px 0px rgb(0 0 0 / 12%),
    0 7px 8px -5px #fab0042d;
  background-color: #e4a40f;
  color: white;
}

/* -------------------------------------------BUTTONS */

/* ---------------------------------------------table */
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.7);
}

.table-striped>tbody>tr:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.8);
}

.zahtjev-index .table-striped>tbody>tr:nth-of-type(even),
.zahtjev-index .table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0);
}

.zahtjev-index table tr td:last-of-type a {
  display: inline-block;
  width: 30%;
  margin: auto;
  text-align: center;
}

/* ---------------------------------------------table */

/* ------------------------------------------calendar */
.calendar table td .date-box {
  border-color: #003d4e;
  background-color: #003d4e;
}

.calendar table td.inactivity {
  background-color: #fff;
}

.calendar table td.today {
  background: #e4a40f;
}

.calendar table thead tr {
  line-height: 3;
}

.calendar table th,
.calendar table td {
  border: 1px solid #ccc;
  position: relative;
  background-color: #fff;
}

/* -----------------------------------/calendar */

/* ---------------------------------pagination */
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: #003d4e;
  border-color: #003d4e;
}

.pagination>li>a,
.pagination>li>span {
  background-color: #fff;
  color: #003d4c;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
  background-color: #e4a40f;
  color: white;
}

/* ---------------------------------/pagination */
@media (min-width: 767px) {
  .pravo {
    display: block;
    width: 50%;
  }

  .input-field.pravo {
    width: 50%;
    float: left;
  }

  form .form-group button[type="submit"] {
    width: 30% !important;
  }
}

/*------------------------------------- mobile */
@media (max-width: 768px) {
  .notifikacije-index .desktop {
    display: none;
  }

  .navbar-brand {
    padding: 2px 25px;
  }

  .nav {
    background: #003d4e;
  }

  .notifikacije-index .filters {
    display: none;
  }

  .sidebar .nav>li>a.mob,
  .mob {
    display: block;
  }

  .site-about.calendar {
    padding: 10px;
  }

  .calendar table.month {
    width: 100%;
  }

  .calendar table td {
    padding: 2px;
    padding-bottom: 20%;
  }

  .calendar table td .model-box p {
    font-size: 10px;
  }

  .calendar table td .model-box {
    font-weight: bold;
    position: absolute;
    top: 22px;
    white-space: normal;
    max-width: 100%;
    word-break: break-all;
  }

  .card {
    max-width: 100%;
    display: block;
  }

  .card-body {
    position: relative;
    overflow: auto;
    white-space: nowrap;
    padding: 1rem 0;
  }

  .card .card-body {
    padding: 1rem 0;
  }

  .nav li>form>button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 25px 15px 15px;
  }

  .navbar-collapse>.navbar-nav>li>a {
    padding-top: 25px !important;
    padding-bottom: 15px !important;
  }

  .btn {
    white-space: unset !important;
  }

  .nav li>form>button.logout {
    display: block;
    text-align: right;
    width: 100% !important;
    padding: 25px 15px 25px;
  }

  .navbar-collapse {
    box-shadow: none;
  }

  .nav>li {
    text-align: right !important;
  }

  span.count-notifications {
    top: 12px;
    left: auto;
    right: 3px;
  }

  .navbar-nav .open .dropdown-menu {
    text-align: right;
  }

  .site-index .card {
    margin-bottom: 50px;
  }

  .site-index .card.mb25 {
    margin-bottom: 25px;
  }

  .site-index .card-header {
    top: -15px;
  }

  .site-index .card .card-footer {
    padding-bottom: 10px;
  }

  .site-index .btn.w5 {
    width: 70%;
    margin: 5px auto;
  }
}

input[type="radio"] {
  width: 13px;
  height: 13px;
  background-color: white;
  position: relative;
}

input[type="radio"]:before {
  width: 14px;
  height: 14px;
  top: -3px;
  background-color: white;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  border-radius: 15px;
  border: 2px solid #003d4e;
}

input[type="radio"]:checked:after {
  width: 14px;
  height: 14px;
  border-radius: 15px;
  top: -25px;
  left: 0px;
  position: relative;
  background-color: #003d4e;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid #003d4e;
}

/* .relative-file{
  position: relative;
}
.file-input-label{
  position: relative;
  z-index: 0;
  display: inline-block;
  width: auto;
  cursor: pointer;
  text-transform:uppercase;
  font-size:12px;
}
#upload {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50px;
  top: 0px;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
#file-upload-button{
  opacity: 0;
} */
.shop-create.site-about .panel-body {
  overflow-x: overlay;
  max-width: 1090px;
}

/* input[type="radio"]:checked:after {
  width: 11px;
  height: 11px;
  border-radius: 15px;
  top: -2px;
  left: 1px;
  position: relative;
  background-color: #003d4e;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
} */
input[type="checkbox"]:checked:before {
  width: 13px;
  height: 13px;
  border-radius: 3px;
  top: -1.5px;
  left: 0px;
  position: relative;
  background-color: #003d4e;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #003d4e;
}

input[type="checkbox"]:checked:after {
  width: 5px;
  height: 10px;
  border-radius: 0px;
  top: -25px;
  left: 5px;
  position: relative;
  background-color: transparent;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.btn:focus,
.btn:active:focus,
.btn:focus:active {
  outline: none;
  background-color: #003d4e;
  color: white;
  border-color: #003d4e;
}

.mb10 {
  margin-bottom: 10px;
}

.small-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
}

a:hover .small-img {
  transform: scale(1.1) rotate(5deg);
}

.date-small {
  font-size: 12px;
  color: gray;
  line-height: 1.5;
}

.material-icons.date-small {
  font-size: 12px;
  margin-right: 5px;
  padding-top: 2px;
  line-height: 1.2;
}

.flex {
  display: flex;

  align-content: center;
}

a.required {
  color: #eb4b50;
}

a.required:hover,
a.required:focus,
a.required:active {
  color: #e4a40f;
}

a.required>.material-icons {
  font-size: 12px;
}

.fc-daygrid-event-dot {
  border-color: #eb4b50;
}

.fc-h-event .fc-event-main {
  background: linear-gradient(60deg, #064354, #003d4e);
  border-radius: 4px;
}

.mr-1 {
  margin-right: 15px;
}

.upitnik-view input[type="radio"]:before {
  top: -2px;
}

.upitnik-view input[type="radio"]:checked:after {
  top: -24px;
}

.upitnik-view input[type="checkbox"]:checked:before {
  top: -3px;
}

.upitnik-view input[type="checkbox"]:checked:after {
  top: -29px;
  left: 6px;
}

.slick-item {
  object-fit: contain;
  max-height: 500px;
  max-width: 1800px;
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-item>img {
  object-fit: contain;
  max-height: 500px;
}

.MultiCarousel {
  float: left;
  padding: 25px 5px;
  width: 100%;
  position: relative;
}

.slick-item-preview {
  opacity: 1;
  margin: 5px 10px;
  max-height: 200px;
  max-width: 300px;
  object-fit: contain;
  position: relative;
  cursor: pointer;
}

.slick-item-preview:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: linear-gradient(0deg, #003d4e, #9dbacc);
  z-index: 9;
}

.slick-item-preview:after {
  /*content:"\e037";*/
  opacity: 1;
  font-family: "Material Icons Round";
  text-shadow: 1px 1px 20px white;
  font-size: 50px;
  line-height: 50px;
  color: #003d4e;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 10;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  transition: all 0.2s linear;
}

.slick-item-preview.slick-current:before,
.slick-item-preview.slick-current:after {
  opacity: 0;
}

.slick-item-preview.slick-center {
  margin: 5px 10px;
  opacity: 1;
  transform: scale(1);
  transition: all 700ms ease;
}

.slick-item-preview>img {
  object-fit: contain;
  cursor: pointer;
  height: 200px;
  margin: auto;
  max-width: 100%;
}

.slick-dots {
  bottom: 0;
}

.slick-prev:before,
.slick-next:before {
  color: #003d4e;
  opacity: 0.3;
}

.slick-item-preview:hover:after {
  transform: scale(1.5);
  cursor: pointer;
}

.slick-next {
  right: -20px;
}

.slick-prev {
  left: -20px;
}

@media (max-width: 1025px) {
  .slick-item>img {
    height: 370px;
  }
}

@media (max-width: 480px) {
  .slick-item>img {
    height: 250px;
  }

  .slick-item-preview {
    max-height: 100px;
  }

  .slick-item-preview:before {
    height: calc(100% + 5px);
  }

  .slick-item-preview>img {
    height: 105px;
  }

  .tooltip.in {
    display: none !important;
  }

  .media-index .table-bordered>tbody>tr>td {
    border: 1px solid transparent
  }

  .media-index .table-responsive>.table-bordered>tbody>tr>td:first-child {
    border-top: 1px solid #ddd;
  }

  .kv-table-header {
    background: white
  }
}

.media-index th,
.media-index td {
  max-width: 70ch !important;
  overflow: hidden;
  white-space: normal !important;
  word-wrap: normal !important;
}